[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/osprey"]
	path = themes/osprey
	url = https://github.com/tomanistor/osprey.git
[submodule "themes/tailwind-developer-website"]
	path = themes/tailwind-developer-website
	url = https://github.com/samrobbins85/tailwind-developer-website
[submodule "themes/hugo-theme-novela"]
	path = themes/hugo-theme-novela
	url = https://github.com/forestryio/hugo-theme-novela
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
