<style>
  .div-thingy {
    background-color: #2e2e33;
    height: 200px;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
    transition-duration: 0.7s;
    
  flex-direction: column;
  }
  @media (max-width: 671px) {
.div-thingy {
  background-color: #2e2e33;
    height: 350px;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
    transition-duration: 0.7s;
}
  }
  .div-thingy:hover {
    background-color: #2e2e33;
    transform: scaleY(1.02) scaleX(1.02);
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: pointer;
  }
  .link-bookmark-title {
    color: #ADAEAF;
    padding-top: 20px;
    margin: 20px;
    
    padding-bottom: 0px;
    transition-duration: 0.5s;
  }
  .link-bookmark-title:hover {
    /* color: white; */
    color: white;
    padding-top: 20px;
    margin: 20px;
    
    padding-bottom: 0px;
  }
  .link-bookmark-description {
    font-size: 12px;
    margin: 20px;
    
    color: #99999a;
  }
  .link-bookmark-image {
    float: right; 
    border-radius:
    0px 6px 6px 0px
  }

</style>
<a href="{{ .Get "href"}}" target="_blank"
  ><div class="div-thingy">
    <img src="{{ .Get "src"}}" height="200" class="link-bookmark-image" />
    <p class="link-bookmark-title">
      <b>{{.Get "title" | markdownify}}</b>
    </p>
    <p class="link-bookmark-description">
      {{.Get "description" | markdownify}}
    </p>
    
    <!-- <img src="{{ .Get `img`}}" /> -->
  </div></a
>
